{
  "presets": ["react", "es2015", "stage-1"],
  "env": {
    "dev-server": {
      "plugins": [
        [
          "css-modules-transform", {
            "preprocessCss": "./helpers/sass-loader.js",
            "generateScopedName": "[name]__[local]--[hash:base64:5]",
            "extensions": [".scss"]
          }
        ]
      ]
    },
    "prod-server": {
      "plugins": [
        [
          "css-modules-transform", {
            "preprocessCss": "./helpers/sass-loader.js",
            "generateScopedName": "[hash:8]",
            "extensions": [".scss"]
          }
        ]
      ]
    }
  }
}
