.catalog-item-thumb {
  position: relative;
}

.catalog-item {
  &__big-button {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #666;
    font-size: 20px;
  }

  &__small-buttons {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}