/* responsive */
$screen_min: 320px;
$screen_mobile: 800px;
$screen_max: 1020px;

/* defaults */
$font_family_default: Arial, Helvetica, sans-serif;
$font_size_default: 12px;
$font_line_height_default: 1.6;
$transition_default_duration: 200ms;
$transition_default_function: ease;
$default_padding: 15px;