.form__input {
  box-sizing: border-box;
  border: 1px solid #2180f8;
  height: 36px;
  line-height: 34px;
  width: 100%;
  outline: none;
  resize: none;
  font-size: 14px;
  font-style: normal;
  letter-spacing: normal;
  font-stretch: normal;
  font-variant: normal;
  font-weight: normal;
  border-radius: 2px;
  padding: 0px 19px;
  color: #333;
  background: #FFF;
}

.form__textarea {
  box-sizing: border-box;
  border: 1px solid #2180f8;
  min-height: 36px + 60px;
  line-height: 20px;
  width: 100%;
  outline: none;
  resize: none;
  font-size: 14px;
  font-style: normal;
  letter-spacing: normal;
  font-stretch: normal;
  font-variant: normal;
  font-weight: normal;
  border-radius: 2px;
  padding: 13px 19px;
  color: #333;
  background: #FFF;
}